<div class="v-line">
  <div class="participation_user_wrapper">
    <% current_user.participation_challenges.each do |participation|  %>
      <div class='card_challenge card_challenge_user'>
        <%= link_to challenge_path(participation.challenge.id), class:'link' do%>
          <div class='card_challenge_header'>
            <h5><%=participation.challenge.challenge_name.upcase%></h5>
          </div>
          <div class='card_challenge_body'>
            <p class="challenge__classification"> <span class="challenge__type"><%= participation.challenge.c_type %></span> <span class="challenge__classification__separator"></span> <span class="challenge__level"><%= participation.challenge.level %></span> </p>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
