<div class="v-line">
  <% current_user.participation_challenges.each do |participation|  %>
    <hr class="challenge__separator">
    <div class="challenge__main">
      <div class="challenge__main__text">
        <h4> <%= participation.challenge.challenge_name%> </h4>
        <p><%= participation.challenge.challenge_description%> </p>
        <div class="submit_button">
          <%= link_to "Voir le challenge",  challenge_path(participation.challenge), class: "button button__md button__outlined rm_decoration" %>
        </div>
      </div>
    </div>
  <%end%>
</div>