 <main class="main__wrapper">
  <div class="form_page">
    <div class="form_group">
      <h1 class='center'>Inscription</h1>
      <%=render 'registration_form'%>
    </div>
    <%=render 'layouts/link_sign_in'%>
  </div>
</main>
