 <main class="main__wrapper background">
  <div class="form_page">
    <div class="form_group">
      <h2 class='center'>Inscription</h2>
      <%=render 'registration_form'%>
    </div>
    <%=render 'layouts/link_sign_in'%>
  </div>
</main>
