
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Bienvenue <%=@user.first_name%></h2>

    <p>Merci de nous avoir rejoint</p>

    <p>Pour te connecter suit ce lien : </p>

    <p>https://hel-j.herokuapp.com/users/sign_in</p>
  </body>


</html>
