<% if resource.errors.any? %>
  <div id="error_explanation" class="alert ">
    <p>
      <% resource.errors.full_messages.each do |message| %>
      <%= message %></p>
      <% end %>
          <span class="close">Close</span>

  </div>
<% end %>

<script>
let closebtns = document.getElementsByClassName("close");
  closebtns[0].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });

</script>