<main class="main__wrapper">
  <h1 class="admin_title">Liste des projets</h1>
  
  <div class="admin__dash">

    <div class="card__admin">
        <%=render 'admin/static_pages/admin_menu'%>
        <%=button_to 'Créer un projet', new_admin_project_path, method:'get', class: 'button pill__outlined button__sm ml-1'%>
    </div>

    <div class="card__graph">

      <div >
        <%@projects.each do |project|%>
          <%=render 'project_card_admin', project: project%>
        <%end%>
      </div>
      
    </div>
    
  </div>
  <%=render 'link_back_root'%>
</main>