<h1>Browser project</h1>
<p>FORMS to search project</p>
<form id="Todo">
  <input type="text" />
</form>
<div>
  card-view-option
</div>
<div>
  Sort By : Most Upvoted
  <div class="projects_wrapper">
    <%= @projects.each do |project| %>
      <%= render "projects/card_project", project: project%>
    <%end%>
    <div>
