.admin_title {
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
}

.card__admin{
  background-color: var(--blue100);
	min-width: 160px;
  max-width: 160px;
  height: auto;
  margin-left: 40px;
  margin-right: 60%;
  list-style-type: none;
	border: 1px solid #000000;
	border-radius:var(--sp12);
	margin-bottom:var(--sp24);
	padding:var(--sp16) var(--sp20)
}

.nav__admin {
  color: var(--defaultBlack);
  transition: 400ms;
  border: solid;
}

.nav__admin a {
  color: black;
  text-decoration: none;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
}

.nav__admin a:hover{
  transform: scale(1.05);
}

.nav__links__admin {
  padding-left: 10px;
  margin: 5px;
  padding: 0;
  display: flex;
  list-style: none;
  color: var(--defaultBlack);
}

.space_under{
  margin-top: 20px;
}