.admin_title {
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
}
.admin__dash{
  display: flex;
  flex-flow: row wrap;
}

.card__admin{
  background-color: var(--blue100);
  width: 160px;
  height: 350px;
  margin-left: 3%;
  margin-right: 3%;
  list-style-type: none;
	border: 1px solid #000000;
	border-radius:var(--sp12);
	margin-bottom:var(--sp24);
	padding:var(--sp16) var(--sp20);

}

.card__graph{
  background-color:whitesmoke;
  width: 1450px;
  min-width: 160px;
  height: 350px;
  margin-left: 3%;
  margin-right: 3%;
  list-style-type: none;
	border: 1px solid #000000;
	border-radius:var(--sp12);
	margin-bottom:var(--sp24);
	padding:var(--sp16) var(--sp20);

}

.nav__admin {
  color: var(--defaultBlack);
  transition: 400ms;
  border: solid;
}

.nav__admin a {
  color: black;
  text-decoration: none;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
}

.nav__admin a:hover{
  transform: scale(1.05);
}

.nav__links__admin {
  padding-left: 10px;
  margin: 5px;
  padding: 0;
  display: flex;
  list-style: none;
  color: var(--defaultBlack);
}

.space_under{
  margin-top: 30px;
}