// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_admin_list{
  width: 100%;
}

.row_admin{
  background-color:var(--grey100);
  margin:10px 0;
  display: flex;
  flex-direction: column;
}

.row_admin:hover{
  background-color: var(--blue100);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.178) ;
}

.child_row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 5px;
}

.info_text{
  font-size: 14px;
  color: grey;
}

.checkbox{
  display: flex;
  flex-flow: row wrap;

}

.scroll{
  overflow-y: scroll;
  border:none;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.089) ;
  padding: 10px 0;
}

