 <main class="main__wrapper">
  <div class="form_page">
    <div class="form_group">
      <h1 class='center'>Connexion</h1>
      <%=render 'connexion_form'%>
    </div>
    <%=render 'layouts/link_sign_up'%>
  </div>
</main >