<div class='card_challenge'>
  <%= link_to challenge_path(challenge.id), class:'link' do%>
    <div class='card_challenge_header'>
      <h4><%=challenge.challenge_name.upcase%></h4>
    </div>
    
    <div class='card_challenge_body'>
    
      <p class="challenge__classification"> <span class="challenge__type"><%= challenge.c_type %></span> <span class="challenge__classification__separator"></span> <span class="challenge__level"><%= challenge.level %></span> </p>
    </div>
  <%end%>
</div>  