 <main class="main__wrapper background">
  <div class='form_page'>
    <h1 class="challenges__title">Challenges</h1>
    <div class='challenge_list'>
      <% @challenges.each do |challenge|  %>
        <%=render 'card_challenge', challenge:challenge %>
      <%end%>
    </div>
  </div>
</main>
