:root{
	--primaryFont: "Konnect";
	--secondaryFont: "Libre Franklin";
	--terciaryFont: "Jost";
	--fs7: 7px;
	--fs8: 8px;
	--fs9: 9px;
	--fs10: 10px;
	--fs11: 11px;
	--fs12: 12px;
	--fs14: 14px;
	--fs16: 16px;
	--fs18: 18px;
	--fs20: 20px;
	--fs24: 24px;
	--fs30: 30px;
	--fs36: 36px;
	--fs48: 48px;
	--fs60: 60px;
	--fs72: 72px;
}

/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-face konnect*/
@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: normal;
  src: url("KonnectRegular.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: normal;
  src: url("KonnectItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 100;
  src: url("KonnectHairline.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 100;
  src: url("KonnectHairlineItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 200;
  src: url("KonnectThin.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 200;
  src: url("KonnectThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 300;
  src: url("KonnectLight.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 300;
  src: url("KonnectLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 500;
  src: url("KonnectMedium.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 500;
  src: url("KonnectMediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 600;
  src: url("KonnectSemiBold.woff") format("woff");
}
@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 600;
  src: url("KonnectSemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 700;
  src: url("KonnectBold.woff") format("woff");
}
@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 700;
  src: url("KonnectBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 800;
  src: url("KonnectExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 800;
  src: url("KonnectExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Konnect";
  font-style: normal;
  font-weight: 900;
  src: url("KonnectBlack.woff") format("woff");
}
@font-face {
  font-family: "Konnect";
  font-style: italic;
  font-weight: 900;
  src: url("KonnectBlackItalic.woff") format("woff");
}
