.form input {
    margin-bottom: 10px !important;
}

.form:last-child {
    margin-bottom: 0px;
}

.form {
    max-width: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
}

.group-form {
    display: flex;
    justify-content: space-around;
}

.text-form-top {
    margin-top: .5rem;
    margin-left: .75rem;
    margin-right: .5rem;
}

.field-col {
    display: flex;
    flex-direction: column;
}

.input-area {
    width: 16rem;
    height: 8rem;
}

.m-top {
    margin-top: 2rem;
}

.m-bot {
    margin-bottom: 0.5rem;
}

.sparound {
    display: flex;
    justify-content: space-around;
}

.m-top-one {
    margin-top: 1rem;
}

.v-line {
    border-left: 5px solid #6686F4;
    margin-left: 5rem;
}

.v-title {
    display: flex;
    margin-left: 4rem;
}

.v-circle {
    height: 2.8rem;
    width: 2.8rem;
    border: 7px solid #6686F4;
    border-radius: 50%;
}

.v-text {
    color: #0D2475;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-bottom: 0 !important;
}

.title-page {
    margin-left: 10%;
}

.arrow-back {
    height: 2rem;
    margin-left: 10%;
}