.input {
    border: 1px solid var(--defaultBlack);
    border-radius: 18px;
    padding: 6px 14px;
    width:100%;
    margin-top:20px;
    outline: none;
}

.input__xl {
    padding: 8px 16px;
}

.input__lg {
    padding: 7px 16px;
}

.input__md {
    padding: 8px 16px;
}

.input__sm {
    padding: 6px 14px;
}

.input__xsm {
    padding: 6px 14px;
}