:root {
	--sp4: 4px;
	--sp6:6px;
	--sp8: 8px;
	--sp12: 12px;
	--sp16: 16px;
	--sp20: 20px;
	--sp24: 24px;
	--sp32: 32px;
	--sp48: 48px;
	--sp64: 64px;
	--sp96: 96px;
	--sp128: 128px;
	--sp152: 152px;
	--sp192: 192px;
	--sp256: 256px;
	--sp384px: 384px;
	--sp512: 512px;
	--sp640: 640px;
	--sp768: 768px;
  }
  