.card__project{
	width:580px;
	border: 1px solid #000000;
	border-radius:var(--sp12);
	margin-bottom:var(--sp24);
	padding:var(--sp16) var(--sp20)
}
.project__infos{
	display:flex;
}
.project__infos__text{
	display:flex;
	flex-direction: column;
}
.project__logo{
	width:70px;
	height: 70px;
	border-radius: 50%;
	margin-right:var(--sp12)
}
.project__title{
	font-size:var(--fs16);
	margin-bottom:var(--sp8)
}
.project__description{
	font-size:var(--fs12);
	margin-bottom:var(--sp8)
}
.project__link{
	display:flex
}
.figma_project__link{
	color:var(--blue500);
	text-decoration: none;
}
.logo__link{
	margin:var(--sp0) var(--sp4)
}
.logo__link i{
margin:var(--sp0) var(--sp4)
}
.card__project__bottom{
	display:flex;
	justify-content: flex-end;
}

.project__title a{
	color:var(--defaultBlack)
}