// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.challenge_list{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}

.card_challenge{
  width: 250px;
  height: 200px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.158);
  margin: 20px; 
  border-radius: 20px;
  transition: 400ms;
  overflow: hidden;
}
.card_challenge:hover{
  opacity: 0.8;
  cursor: pointer;
}
.card_challenge:active{
  transform: scale(1.05);
}

.card_challenge_header{
  background-image: url('challenge_bg.png');
  background-size: cover;
  height: 150px;
  text-align: center;
  color: white;
  padding:60px 5px 0
}

.challenges__title{
text-align: center;
}

.card_challenge_body{
  padding: 10px;
}
