// Place all the styles related to the joint_the_project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.challenge_section {
    display: block;
    margin: auto;
    margin-top: 5vw;
    width: max-content;
}

footer {
    bottom: 0 !important;
    position: fixed !important;
    width: 100% !important;
}

.go_back {
    margin: 10vw;
    text-decoration-line: none;
}