// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.messaging__content{
	display: flex;
    flex-direction: column;
}

.message{
display: inline-block;
}
.content{
	background-color: #eeeeee;
	padding:8px 16px;
	border-radius: 20px;
	margin-bottom: var(--sp4);
}
.message{
	align-self:flex-start
}
.me{
	align-self: flex-end;
}
.me .content__wrapper .content{
	background:var(--blue500);
	color:white
}

.author{
	font-size:0.8rem;
	color:#777777;
	margin-left:10px;
}