// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
    display: flex;
    margin-left: 15vw;
}

.logo-title {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3rem;
    margin-left: 15px;
}

.logo-img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.projects_wrapper{
	max-width:600px;
	min-width:300px;
	margin:var(--sp0) auto;
}