// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
    display: flex;
    margin-left: 10%;
}

.logo-title {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3rem;
    margin-left: 15px;
}

.logo-img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.description {
    margin-left: 17.5%;
}

.link {
    display: flex;
    justify-content: flex-end;
}

.button-ml {
    margin-left: .5rem;
    text-decoration-line: none;
}

.team {}

.name {
    display: flex;
}

.email {
    display: flex;
    justify-content: flex-end;
}