// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.justify_text{
  text-align: justify;
}

.project_img{
  float: left;
  height: 150px;
  margin-right: 10px ;
}

.project_img_r{
  float: right;
  height: 150px;
  margin-right: 10px ;
}

.separator{
  margin-left:120px;
  margin-right: 120px;
  border: 1px solid var(--blue200);
}