<div class="form_group">
  <h1 class='center'>Création d'un besoin</h1>
  <div>
<%= form_with model: @needed, method: :post, url: admin_neededs_path ,class:'form' do |f| %>
  <div>
    <%= f.text_field :name, placeholder: 'Titre' , class:'input input__lg '%>
  </div>
  <div>
    <%= f.text_area :description, placeholder: 'Description' , class:'input input__lg '%>
  </div>
  <div>

  <%= f.submit 'Créer' ,class:'pill__outlined button m-top align_right'%>
<% end %>
</div>