 <% if notice %>
  <p class="notice"><%= notice %>
  <span class="close">
  X
  </span>
  </p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %><span class="close">
  X
  </span></p>
<% end %>

<% flash.each do |type, msg| %>
  <p class="alert"><%= msg %><span class="close">
  X
  </span></p>
<% end %>

<script>
let closeBtn = document.querySelector(".close");
  closeBtn.addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
</script>