 <% if notice %>
  <p class="notice widh-all"><%= notice %>
  <span class="close">Close</span>
  </p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %><span class="close">Close</span></p>
<% end %>

<script>
var closebtns = document.getElementsByClassName("close");

  closebtns[0].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });

</script>