 <% if notice %>
  <p class="notice"><%= notice %>
  <span class="close">Fermé</span>
  </p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %><span class="close">Fermé</span></p>
<% end %>

<script>
let closeBtn = document.querySelector(".close");
  closeBtn.addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
</script>