 <% if notice %>
  <p class="alert"><%= notice %></p>
  <span class="close">Close</span>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
   <span class="close">Close</span>
<% end %>

<script>
var closebtns = document.getElementsByClassName("close");

  closebtns[0].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });

</script>