<footer>
  <div class="footer_nav">
  <div>
    <p class="powered">Powered by "Jocelin Queau, Xabi Aycaguer, Leo Lair, & Anthony Charron" </p>
    </div>
    <div>
    <a class="contact" href="">Contact</a>
    <a class="vote" href="">Features Votes </a>
    </div>
  </div>
</footer>
