<footer>
  <div class="footer_nav">
    <div>
      <p class="powered">Powered by "Jocelin Queau, Xabi Aycaguer, Leo Lair, & Anthony Charron" </p>
    </div>
    <div>
      <a class="contact__link" href="mailto:contact@helj.com">Contact</a>
    </div>
  </div>
</footer>
